
/* paypal */
#ppc-button { 
    max-width:300px
}

/* account list of menu hide */
.woocommerce-MyAccount-navigation:not(.btn-group) ul{ 
    display:none; 
} 

/* remove classic shop notice */
.woocommerce-store-notice.demo_store{
    display: none !important;
}