/* - - - - - - - - - - - - - - - - - - - - */

/* bootstrap add-on */

.table.borderless.collapsed tr th,
.table.borderless.collapsed tr td {
    border: none !important;
    padding: 0px !important;
}

.d-hidden{
    visibility: hidden;
    width: 0;
    height: 0;
    z-index: -1;
}

/* - - - - - - - - - - - - - - - - - - - - */

/* selectable product options */

.options-wrapper{
    position: relative;
    display: flex;
}

.option-data.designdot,
.option-data.colordot {
    cursor:pointer;
    border-radius:50%;
    border:4px solid rgba(0,0,0,.33);
    width:30px;
    height:30px;
    margin-right: 5px;
}

.option-data{
    transition: transform .25s;
    transform: scale(1);
}
.option-data.active{
    transform: scale(1.25);
}

/* - - - - - - - - - - - - - - - - - - - - */

/* WooCommerce 3.0 Gallery */

.woocommerce-product-gallery,
.woocommerce-product-gallery .flex-control-nav,
.woocommerce-product-gallery figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.woocommerce-product-gallery  .flex-control-nav{
    flex-flow: nowrap;
    display: flex;
    list-style: none;
}

.woocommerce-product-gallery .flex-control-thumbs li {
    cursor: pointer;
}

.woocommerce-product-gallery .flex-control-thumbs img {
    opacity: .5
}

.woocommerce-product-gallery .flex-control-thumbs .flex-active,
.woocommerce-product-gallery .flex-control-thumbs img:hover {
    opacity: 1
}
    
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 33.3333%
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 25%
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 20%
}

.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99;
}

a.woocommerce-product-gallery__trigger {
    text-decoration: none;
}
    
/* .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: .875em;
    right: .875em;
    display: block;
    height: 2em;
    width: 2em;
    border-radius: 3px;
    z-index: 99;
    text-align: center;
    text-indent: -999px;
    overflow: hidden;
}
    
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    background-color: #169fda;
    color: #ffffff;
}
    
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
    background-color: #1781ae;
    border-color: #1781ae;
    color: #ffffff;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    content: "\f00e";
    line-height: 2;
    text-indent: 0;
}
*/

ul.flex-direction-nav {
    position: absolute;
    top: 30%;
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

li.flex-nav-prev {float: left;}
li.flex-nav-next {float: right;}

a.flex-next,a.flex-prev {
    visibility:hidden;
    text-decoration: none;
    font-family: "bootstrap-icons";
    font-size: 35px;
    color: #00000069;
}

a.flex-prev::before {
    visibility:visible;
    content: '\F12D';
}
a.flex-next::after {
    visibility:visible;
    content: '\F136';
}