html,body{
    margin: 0px !important;
    padding: 0px !important;
    min-height: 100vh;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#wpadminbar{
    position: absolute;
    height: 2px;
    overflow: hidden;
    background: transparent;
}
#wpadminbar:hover{
    position: absolute;
    height: 32px;
    background: var(--wp--preset--color--black);
}

/* - - - - - - - - - - - - - - - - - - - - */

/* bootstrap add-on */

.table.borderless.collapsed tr th,
.table.borderless.collapsed tr td {
    border: none !important;
    padding: 0px !important;
}

.d-hidden{
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
    z-index: -1;
    display: unset;
}

*>p:last-child {
    margin-bottom: 0;
}

/* - - - - - - - - - - - - - - - - - - - - */

/* selectable product options */

.options-wrapper{
    position: relative;
    display: flex;
}

.option-data.designdot,
.option-data.colordot {
    cursor:pointer;
    border-radius:50%;
    border:4px solid rgba(0,0,0,.33);
    width:30px;
    height:30px;
    margin-right: 5px;
}

.option-data{
    transition: transform .25s;
    transform: scale(1);
}
.option-data.active{
    transform: scale(1.25);
}

/* - - - - - - - - - - - - - - - - - - - - */

/* WooCommerce 3.0 Gallery */

.woocommerce-product-gallery,
.woocommerce-product-gallery .flex-control-nav,
.woocommerce-product-gallery figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.woocommerce-product-gallery  .flex-control-nav{
    flex-flow: nowrap;
    display: flex;
    list-style: none;
    margin-top:10px
}

.woocommerce-product-gallery .flex-control-thumbs li {
    cursor: pointer;
    padding: 7px
}

.woocommerce-product-gallery .flex-control-thumbs img {
    opacity: .5
}

.woocommerce-product-gallery .flex-control-thumbs .flex-active,
.woocommerce-product-gallery .flex-control-thumbs img:hover {
    opacity: 1
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 33.3333%
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 25%
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 20%
}

.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99;
}

a.woocommerce-product-gallery__trigger {
    text-decoration: none;
}

ul.flex-direction-nav {
    position: absolute;
    top: 30%;
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

li.flex-nav-prev {float: left;}
li.flex-nav-next {float: right;}

a.flex-next,a.flex-prev {
    visibility:hidden;
    text-decoration: none;
    font-family: "bootstrap-icons";
    font-size: 35px;
    color: #00000069;
}

a.flex-prev::before {
    visibility:visible;
    content: '\F12D';
}
a.flex-next::after {
    visibility:visible;
    content: '\F136';
}