.customize-control-title.customize-section-title-nav_menus-heading{
    display: none;
}
#accordion-section-menu_locations{
    margin-bottom: 15px !important;
}
label[for=_customize-input-blank]{
    border-bottom: 1px dashed #d4d4d4;
    padding: 0 15px !important;
    margin: -20px 0 6px 0 !important;
}
label[for=_customize-input-blank]+div+input{
    display: none;
    pointer-events: none;
}