.customize-control-title.customize-section-title-nav_menus-heading{
    display: none;
}

#accordion-section-menu_locations{
    margin-bottom: 15px !important;
}

label[for=_customize-input-blank]{
    border-bottom: 1px dashed #d4d4d4;
    padding: 0 15px !important;
    margin: -20px 0 6px 0 !important;
}
label[for=_customize-input-blank]+div+input{
    display: none;
    pointer-events: none;
}

.customize-control .customize-inside-control-row{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#accordion-section-design_of_top_menu{
    margin-top: 45px;
    position: relative;
}

#accordion-section-design_of_top_menu::before{
    content: ' ';
    display: block;
    position: absolute;
    top: -25px;
    border-top: 1px dashed #ccc;
    height: 1px;
    width: 100%;
}
li[id^=customize-control-][id$=_title_data]:not([id$=_logo_title_data]){
    height: 20px !important;
    margin: -12px 0 0 0 !important;
}
li[id^=customize-control-][id$=_subtitle_data]{
    height: 20px !important;
    margin: 0 !important;
}
li[id^=customize-control-][id$=_excerpt_data] {
    height: 20px !important;
    margin: 0 0 12px 0 !important;
}